
{% load static %}

<html lang="en">
    {% include "includes/head.html" %}
    <body>
        <!-- Navigation-->
        {% include "includes/nav.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in posts %}
                    <a href="{% url 'follow' post.author.username %}">Подписаться</a>
                    <div class="post-preview">
                        <a href="{% url 'post' post.id post.slug %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.text }}</h3>
                        </a>
                        <p class="post-meta">
                            
                            {{ post.created_at }}
                        </p>
                        {% for categ in post.category.all %}
                            <span><a class="btn btn-primary btn-sm text-lowcase" href="#!">{{ categ.name }}</a></span>
                        {% endfor %}
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor%}
                    <!-- Post preview-->
            
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
    {% include 'includes/footer.html' %}
    </body>
</html>
